pts-contract/PointsService.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<!--

  WSDL contract for ForkExec Points.

  This WSDL defines the operations provided by the Web Service, and should not be modified.
  For more information, see sections
  wsdl:service, wsdl:portType, wsdl:types and wsdl:binding below
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:tns="http://ws.pts.forkexec.com/" 
  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" 
  xmlns:wsp="http://www.w3.org/ns/ws-policy" 
  xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" 
  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PointsService" targetNamespace="http://ws.pts.forkexec.com/">
  <!--  XML Schema Definition (XSD) of data types. -->
  <types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.pts.forkexec.com/" version="1.0">
      <xs:element name="BadInitFault" type="tns:BadInitFault" />
      <xs:element name="InvalidEmailFault" type="tns:InvalidEmailFault" />
      <xs:element name="InvalidPointsFault" type="tns:InvalidPointsFault" />
      <xs:element name="NotEnoughBalanceFault" type="tns:NotEnoughBalanceFault" />
      <xs:element name="writePoints" type="tns:writePoints" />
      <xs:element name="writePointsResponse" type="tns:writePointsResponse" />
      <xs:element name="ctrlClear" type="tns:ctrlClear" />
      <xs:element name="ctrlClearResponse" type="tns:ctrlClearResponse" />
      <xs:element name="ctrlInit" type="tns:ctrlInit" />
      <xs:element name="ctrlInitResponse" type="tns:ctrlInitResponse" />
      <xs:element name="ctrlPing" type="tns:ctrlPing" />
      <xs:element name="ctrlPingResponse" type="tns:ctrlPingResponse" />
      <xs:element name="readPoints" type="tns:readPoints" />
      <xs:element name="readPointsResponse" type="tns:readPointsResponse" />
      <xs:element name="getMaxTag" type="tns:getMaxTag" />
      <xs:element name="getMaxTagResponse" type="tns:getMaxTagResponse" />
      <xs:complexType name="ctrlClear">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="ctrlClearResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="writePoints">
        <xs:sequence>
          <xs:element minOccurs="0" name="userEmail" type="xs:string" />
          <xs:element name="pointsTowrite" type="xs:int" />
          <xs:element name="tag" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="writePointsResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="InvalidEmailFault">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="InvalidPointsFault">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="NotEnoughBalanceFault">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="readPoints">
        <xs:sequence>
          <xs:element minOccurs="0" name="userEmail" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="readPointsResponse">
        <xs:sequence>
          <xs:element name="points" type="xs:int" />
          <xs:element name="tag" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ctrlPing">
        <xs:sequence>
          <xs:element minOccurs="0" name="input" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ctrlPingResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ctrlInit">
        <xs:sequence>
          <xs:element name="startPoints" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ctrlInitResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="BadInitFault">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getMaxTag">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getMaxTagResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <!--  Messages use elements defined in the schema. -->
  <message name="ctrlPing">
    <part element="tns:ctrlPing" name="parameters" />
  </message>
  <message name="ctrlPingResponse">
    <part element="tns:ctrlPingResponse" name="parameters" />
  </message>
  <message name="readPoints">
    <part element="tns:readPoints" name="parameters" />
  </message>
  <message name="readPointsResponse">
    <part element="tns:readPointsResponse" name="parameters" />
  </message>
  <message name="InvalidEmailFault">
    <part element="tns:InvalidEmailFault" name="fault" />
  </message>
  <message name="ctrlInit">
    <part element="tns:ctrlInit" name="parameters" />
  </message>
  <message name="ctrlInitResponse">
    <part element="tns:ctrlInitResponse" name="parameters" />
  </message>
  <message name="BadInitFault">
    <part element="tns:BadInitFault" name="fault" />
  </message>
  <message name="ctrlClear">
    <part element="tns:ctrlClear" name="parameters" />
  </message>
  <message name="ctrlClearResponse">
    <part element="tns:ctrlClearResponse" name="parameters" />
  </message>
  <message name="writePoints">
    <part element="tns:writePoints" name="parameters" />
  </message>
  <message name="writePointsResponse">
    <part element="tns:writePointsResponse" name="parameters" />
  </message>
  <message name="InvalidPointsFault">
    <part element="tns:InvalidPointsFault" name="fault" />
  </message>
  <message name="NotEnoughBalanceFault">
    <part element="tns:NotEnoughBalanceFault" name="fault" />
  </message>
  <message name="getMaxTag">
    <part element="tns:getMaxTag" name="parameters" />
  </message>
  <message name="getMaxTagResponse">
    <part element="tns:getMaxTagResponse" name="parameters" />
  </message>
  <!--  Port type (interface). -->
  <!--  Each operation has input, output and fault messages. -->
  <portType name="PointsPortType">
    <operation name="ctrlPing">
      <input message="tns:ctrlPing" wsam:Action="http://ws.pts.forkexec.com/PointsPortType/ctrlPingRequest" />
      <output message="tns:ctrlPingResponse" wsam:Action="http://ws.pts.forkexec.com/PointsPortType/ctrlPingResponse" />
    </operation>
    <operation name="readPoints">
      <input message="tns:readPoints" wsam:Action="http://ws.pts.forkexec.com/PointsPortType/readPointsRequest" />
      <output message="tns:readPointsResponse" wsam:Action="http://ws.pts.forkexec.com/PointsPortType/readPointsResponse" />
      <fault message="tns:InvalidEmailFault" name="InvalidEmailFault" wsam:Action="http://ws.pts.forkexec.com/PointsPortType/readPoints/Fault/InvalidEmailFault" />
    </operation>
    <operation name="ctrlInit">
      <input message="tns:ctrlInit" wsam:Action="http://ws.pts.forkexec.com/PointsPortType/ctrlInitRequest" />
      <output message="tns:ctrlInitResponse" wsam:Action="http://ws.pts.forkexec.com/PointsPortType/ctrlInitResponse" />
      <fault message="tns:BadInitFault" name="BadInitFault" wsam:Action="http://ws.pts.forkexec.com/PointsPortType/ctrlInit/Fault/BadInitFault" />
    </operation>
    <operation name="ctrlClear">
      <input message="tns:ctrlClear" wsam:Action="http://ws.pts.forkexec.com/PointsPortType/ctrlClearRequest" />
      <output message="tns:ctrlClearResponse" wsam:Action="http://ws.pts.forkexec.com/PointsPortType/ctrlClearResponse" />
    </operation>
    <operation name="writePoints">
      <input message="tns:writePoints" wsam:Action="http://ws.pts.forkexec.com/PointsPortType/writePointsRequest" />
      <output message="tns:writePointsResponse" wsam:Action="http://ws.pts.forkexec.com/PointsPortType/writePointsResponse" />
      <fault message="tns:InvalidEmailFault" name="InvalidEmailFault" wsam:Action="http://ws.pts.forkexec.com/PointsPortType/writePoints/Fault/InvalidEmailFault" />
      <fault message="tns:InvalidPointsFault" name="InvalidPointsFault" wsam:Action="http://ws.pts.forkexec.com/PointsPortType/writePoints/Fault/InvalidPointsFault" />
      <fault message="tns:NotEnoughBalanceFault" name="NotEnoughBalanceFault" wsam:Action="http://ws.pts.forkexec.com/PointsPortType/writePoints/Fault/NotEnoughBalanceFault" />
    </operation>
    <operation name="getMaxTag">
      <input message="tns:getMaxTag" wsam:Action="http://ws.pts.forkexec.com/PointsPortType/getMaxTagRequest" />
      <output message="tns:getMaxTagResponse" wsam:Action="http://ws.pts.forkexec.com/PointsPortType/getMaxTagResponse" />
    </operation>
  </portType>
  <!--  Binding defines the actual technologies to use. -->
  <binding name="PointsPortBinding" type="tns:PointsPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="ctrlPing">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="readPoints">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InvalidEmailFault">
        <soap:fault name="InvalidEmailFault" use="literal" />
      </fault>
    </operation>
    <operation name="ctrlInit">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BadInitFault">
        <soap:fault name="BadInitFault" use="literal" />
      </fault>
    </operation>
    <operation name="ctrlClear">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="writePoints">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InvalidEmailFault">
        <soap:fault name="InvalidEmailFault" use="literal" />
      </fault>
      <fault name="InvalidPointsFault">
        <soap:fault name="InvalidPointsFault" use="literal" />
      </fault>
      <fault name="NotEnoughBalanceFault">
        <soap:fault name="NotEnoughBalanceFault" use="literal" />
      </fault>
    </operation>
    <operation name="getMaxTag">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <!--  Service defines ports. -->
  <!--  Each port is an abstract port type, made concrete by a binding. -->
  <service name="PointsService">
    <port binding="tns:PointsPortBinding" name="PointsPort">
      <soap:address location="http://forkexec.com:8091/points" />
    </port>
  </service>
</definitions>